<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.romana.grm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Meal_Plan" />
        <activity android:name=".Activity_Tab_View"/>/
        <activity android:name=".TileActivity"/>
        <activity android:name=".Activity_Submit_Recipe"/>
        <activity android:name=".Activity_Grocery"/>
        <activity android:name=".Activity_Ingredient_Glossary"/>
        <activity android:name=".Activity_Ingredient_Details"/>
    </application>

</manifest>
